################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestDemo.WebUi/obj
/TestDemo.WebUi/bin
/TestDemo.WebUi/TestDemo.WebUi.csproj.user
